@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


body{
    overflow: hidden;
}

.header{
    color:white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.footer{
    text-align: center; 
    display: flex;
    background-color:black;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    justify-content: center;
    height: 50px;
    align-items: center;
}
.footer p{
    margin-left: 10px;
}
  .footer-inner{
      display: flex;
      width: 250px;
      justify-content: space-around;
      align-items: center;
  }

  .WalletUp img{
      height: 100px;
      width: 100px;
  }

  .MainDiv{
      width: 100%;
      height: calc(100vh - 120px);
     
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }
  .MainDiv p{
      color: white;
      font-size: 25px;
  }

.WalletCard{
    width: 300px;
    height: 400px;
    border: 2px solid #FF5C00;
    transition: all 1s;
    border-radius: 12px;
    background: rgb(0,0,0);
    background: linear-gradient(360deg, rgba(0,0,0,1) 0%, rgba(0,163,255,0.5662640056022409) 150%);
}

.WalletCard:hover{
    border: 2px solid #00A3FF;
}

.WalletUp, .WalletDown{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}

.WalletDown button{
    background-color: #FF5C00;
    color:white;
    border: none;
    padding: 15px 32px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: default;
}

.WalletDown button:hover{
    box-shadow: 0px 8px 15px rgba(0, 217, 255, 0.1);
}