


.transactionsDiv{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.findBetweenDates{
    background-color: rgb(15, 15, 15);
    border-radius: 12px;
    height: 100px;

}

.findButton{
    position: relative;
    border: 1px solid royalblue;
    border-radius: 16px;
    background: black;
    background-clip: padding-box;
    width: 150px;
    height: 40px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    margin: 10px;
  }
  
  .findButton:hover{
    background-color: orangered;
    border: 1px solid orangered;
  }


  .historySection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(16,17,22);
    border-radius: 10px;
    width: 80%;
    padding: 3px;
    margin-bottom: 30px;
}
.historySection .headings{
    display: flex;
    justify-content: space-around;
    width: 100%;  
}


.historySection{
    border: 1px solid rgb(10, 99, 214);
    width: 85%;
    padding: 20px;
    
}
.historySection table{
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
    width: 100%;
    text-align: center;  
}
.tHeader{
    font-weight: bolder;
}
.tableCell{
    padding: 8px;
}