@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #edf0f1;
}
li> a{
    text-decoration: none;
    color: white;  
}

.heading{
    background: linear-gradient(to right, orangered, rgb(46, 118, 226));
    background-clip: text;
    color:  transparent;
    font-size: 2rem;
    font-weight: bold;

}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.377);
}

.items{
    list-style: none;
}
.items li{
    display: inline-block;
    padding: 0px 20px;  
}


.buttons button{
    
    position: relative;
    border: 4px solid transparent;
    border-radius: 10px;
    background: black;
    background-clip: padding-box;
    width: 110px;
    height: 45px;
    color: white;
    font-size: 14px;
    font-weight: bold;

}

.buttons button::after {
    position: absolute;
    top: -2px; bottom: -2px;
    left: -2px; right: -2px;
    background: linear-gradient(#D9381E, rgb(46, 118, 226));
    content: '';
    z-index: -1;
    border-radius: 10px;
}

.buttons button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .buttons button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
  }
  
  .buttons button:hover span {
    padding-right: 25px;
  }
  
  .buttons button:hover span:after {
    opacity: 1;
    right: 0;
  }

