
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px;
}

.background{
    background-color: rgb(15, 15, 15);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    height: 600px;
    border-radius: 20px;
}

form{
    display: flex;
    flex-direction: column;
    margin: 1px;
}

.dropzone{

    border: 2px dashed #D9381E;
    height: 40%;
    padding: 50px;
    width: 95%;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    margin-bottom: 20px;
}

input{
    margin: 10px;
    border: 1px solid rgb(46, 118, 226);
    background-color: black;
    color: rgb(255, 255, 255,.5);
    height: 40px;
    width: 300px;
    font-size: 14pt;
    border-radius: 12px;
    outline: none;
    padding: 12px;
}

textarea{
    margin: 10px;
    border: 1px solid rgb(46, 118, 226);
    background-color: black;
    color: rgb(255, 255, 255,.5);
    height: 150px;
    width: 300px;
    font-size: 14pt;
    border-radius: 12px;
    outline: none;
    padding: 12px;
}

.mintBtn{

    border: 1px solid rgb(46, 118, 226);
    border-radius: 16px;
    background: black;
    width: 310px;
    height: 50px;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}
.mintBtn:hover{
    background-color: #D9381E;
    border: #D9381E;
}